/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Custom styles
  ========================================
*/


body{
	font: 300 16px/22px "Roboto","Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.container,
.grid {
  margin: 0 auto;

}
.container {
  padding-left: 30px;
  padding-right: 30px;
}

.col-1-3,
.col-2-3,
.col-3-5,
.col-1-4,
.col-1-2  {
  display: inline-block;
  vertical-align: top;
}
.col-1-3 {
  width: 33.33%;
}
.col-2-3 {
  width: 66.66%;
}
.col-3-5 {
  width: 66.66%;
}
.col-1-4 {
  width: 25%;
}
.col-1-2{
  width: 50%;
}
/*
  ========================================
  Clearfix
  ========================================
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}


/*
  ========================================
  Links
  ========================================
*/

a {
  color: #000000;
  text-decoration: none;

}

a:hover{
	border-bottom: 2px solid;
}


/*
  ========================================
  Typography
  ========================================
*/


h1, h4, h5{
  margin-bottom: 22px;
}
h1 {
  font-family: "PT sans narrow", Futura, Charcoal, sans-serif;
  font-stretch: 10px;
  padding-top: 22px;
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: bold;
  line-height: 44px;
  text-align: center;
}
h2{
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 20px;
  line-height: 35px;
}
h3{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

h4{
  font-size: 20px;
  font-weight: bold;
}

p{
	line-height: 26px;
  font-size: 18px;
  font-weight: medium;
}

h5{
	font-size: 14px;
}

.medium{
  font-weight: 400;
}

.italic-24-grey{
  font-size: 24px;
  color: grey;
  font-style: italic;
}

.italic-20-grey{
  font-size: 20px;
  color: grey;
  font-style: italic;
}

.title{
	color: white;
	text-align: center;
	line-height: 393px;
	font-size: 36px;
}
.introduction{
	font-size: 24px;
	text-align: center;
	line-height: 36px;
	margin: 80px 15%;

}

/*
  ========================================
  Navigation
  ========================================
*/


nav ul li {
  display: inline-block;
  margin: 0 20px;
  vertical-align: center;
}

header h1{
	margin-bottom: 0;
	background-color: rgba(245, 245, 245, 0.95);
	
}
nav{
	padding: 10px 0;
	background-color: rgba(245, 245, 245, 0.95);
	border-bottom: 1px solid #DCDCDC;
	text-align: center;
	width: 100%;
  font-size: 15px;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    transition: top 0.2s ease-in-out;
    z-index: 5;
}

.nav-up {
    top: -43px;
}

/*
  ========================================
  Picture
  ========================================
*/

.titleimg{
	position: relative;
	height: 350px;
	background-image:url("../picture/domino/title img.jpg");
	background-size:cover;
	background-position: center;
}

.titleimg_inneref{
  position: relative;
  height: 350px;
  background-image:url("../picture/inneref/inneref_black.jpg");
  background-size:cover;
  background-position: center;
}

.titleimg_musi{
  position: relative;
  height: 350px;
  background-image:url("../picture/musi/title.jpg");
  background-size:cover;
  background-position: center;
}

.titleimg_ceremony{
  position: relative;
  height: 350px;
  background-image:url("../picture/ceremony/ceremony_title.jpg");
  background-size:cover;
  background-position: center;
}
.titleimg_lift{
  position: relative;
  height: 350px;
  background-image:url("../picture/lift/mockup_black.jpg");
  background-size:cover;
  background-position: center;
}

.titleimg_selfdriving{
  position: relative;
  height: 350px;
  background-image:url("../picture/selfdriving/title.png");
  background-size:cover;
  background-position: center;
}

.titleimg_graphic{
  position: relative;
  height: 350px;
  background-image:url("../picture/graphic/title.jpg");
  background-size:cover;
  background-position: center;
}
.titleimg_timber{
  position: relative;
  height: 350px;
  background-image:url("../picture/timber/title2.jpg");
  background-size:cover;
  background-position: center;
}
.titleimg_pavilion{
  position: relative;
  height: 350px;
  background-image:url("../picture/pavilion/title2.jpg");
  background-size:cover;
  background-position: center;
}
/*
  ========================================
  Project Overview
  ========================================
*/
.overview{	
	background-color: #ECECEC;
  padding: 50px 15%;
}

.subtitle{
	font-family: "PT sans narrow", Futura, Charcoal, sans-serif;
	font-size: 24px;
	font-weight: bold;
	display: inline-block;
	text-align: left;
  vertical-align: top;
}
.pinfo{
	font: 300 14px/22px "Roboto","Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: left;
	padding-top: 15px;
}

/*
  ========================================
  Problems
  ========================================
*/
.paragraph{
  padding: 100px 200px 0 200px;
}
.paragraph2{
  padding: 100px 200px;
}
.paragraph3{
  padding: 100px 300px;
}
.subtitle2{
  font-family: "PT sans narrow", Futura, Charcoal, sans-serif;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}
.subtitle3{
  font-family: "PT sans narrow", Futura, Charcoal, sans-serif;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}
.padding-50-100 ul li{
  list-style-type: circle;
  font-size: 14px;

}
.paragraph ul{
  margin-top: 22px;
}
strong{
  font-weight: bold;
}


.newul ul li{
  list-style-type: disc;
  font-size: 20px;
  margin-bottom: 12px;
}

/*
  ========================================
  Findings
  ========================================
*/
.col-1-2{
  padding: 10px;
}
.grey{
  background-color: #ECECEC;
  padding: 10px;
  margin-bottom: 10px;
}
.class1{
  margin-left: 50px;

  list-style-type: square;
}

.class2{
  margin-left: 30px;
  list-style-type: lower-roman;
}


/*
  ========================================
  Middle Img
  ========================================
*/
.middleimg{
  position: relative;
  height: 150px;
  background-image:url("../picture/domino/title img.jpg");
  background-size:cover;
  background-position: center;
  padding: 50px 100px;
}
.middleimg p{
  color: white;
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
}
.middleimg .person{
  font-weight: normal;
  text-align: right;
  font-size: 16px;
}
/*
  ========================================
  Recommendation
  ========================================
*/
#recommendation .class1{
  margin-bottom: 10px;
}

.deliverable{
  margin-top: 100px;
}

/*
  ========================================
  Footer
  ========================================
*/
footer{
	background-color: rgba(245, 245, 245, 0.95);
}
.copyright{
	margin-bottom: 0;
	line-height: 50px;
	text-align: center;
}
/*
  ========================================
  Fixed nav bar
  ========================================
*/
.fixed {
	position: fixed; 
	top: 0;
	z-index: 5;
}
.addmargin{
	margin-bottom: 143px;
}

.underline{
	border-bottom: 2px solid black;
}



/*
  ========================================
  Ceremony
  ========================================
*/
i{
  font: italic;
}
.a2 a{
  border-bottom: 2px solid;
}
.a2 a:hover{
  color: #50E3C2;
}

#affinity{
  width: 100%;
  padding: 40px 0 0 10px;
}
#competitor{
  width: 100%;
  padding: 40px 0 0 10px;
}
#interviewee{
  width: 100%;
  padding: 40px 0 0 10px;
}

.innerpic{
  width: 100%;
  padding: 40px 0 0 10px;
}


.c-col{
  padding: 40px 10px 0 0;
}

.affinity-list{
  padding: 20px;
}
.padding-50-150 .c-col .affinity-list li{
  font-size: 16px;
  font-weight: bold;
  margin: 8px 0px;
  list-style-type: square;
}
.padding-50-150 .self-col .affinity-list li{
  font-size: 16px;
  font-weight: bold;
  margin: 8px 0px;
  list-style-type: square;
}
.below-occupy{
  margin-bottom: 100px;
}
.below-occupy2{
  margin-bottom: 50px;
}
.width1{
  width: 1%;
}
.width100{
  width: 100%;
}
.width80{
  width: 80%;
}
.width70{
  width: 70%;
}
.width50{
  width: 50%;
}
.width20{
  width: 20%;
}


.height100{
  height: 10%;
}

.background-grey{
  background-color: #ECECEC;
}
.padding-new{
  padding: 50px 200px;
}
.padding-100{
  padding: 0 100px;
}

.padding-bottom-20{
  padding-bottom: 20px;
}
.padding-50-100{
  padding: 50px 100px;
}
.padding-50-150{
  padding: 50px 15%;
}
.padding-userjourney-right{
  padding-right: 0;
}
.padding-userjourney-left{
  padding-left: 0;
}

.web1{
  padding-right: 10px;
  width: 97%;
}
.web2{
  padding-left: 10px;
  width: 100%;
}
.imgwidth{
  display: block;
  margin: auto;
  width: 60%;
}
.alignleft{
  text-align: left;
}
.vertical-middle{
  position: relative;
  top: 50%;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
}
.steps li{
  padding: 10px;  
}
.left-50{
  padding-left: 50px;
}
.col-1-2-new{
  display: table-cell;
  vertical-align: middle;
}
.width33{
  width: 33.33%;
}
.width66{
  width: 66.67%;
}
.table{
  display: table;
}
.table-cell{
  display: inline-block;
  float: left;
}
.table-cell2{
  display: table-cell;
  text-align: center;
}
.padding-50{
  padding: 50px;
}
.padding-20-50{
  padding: 20px 50px;
}
.padding-40{
  padding: 40px;
}
.padding-50-noleft{
  padding: 50px 50px 50px 0;
}
.padding-left-10{
  padding-left: 10px;
}
.padding-left-50{
  padding: 0 50px;
}


.size13{
  font-size: 13px;
  text-align: center;
}
.middle{
  text-align: center;
}
.centerimg{
  display: block;
  margin-left: auto;
  margin-right: auto
}
.red{
  color: #D9463E;
}

.green{
  color: #2CE6C2;
}

.purple{
  color: #8185C0;
}

.brown{
  color: #E4761C;
}


#slider {
  position: relative;
  overflow: hidden;
  margin: 0 auto 20px auto;
  border-radius: 4px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 600px;
  height: 430px;
  background: #ECECEC;
  text-align: center;
  line-height: 300px;
}

#slider a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

#slider a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

#slider a.control_prev {
  border-radius: 0 2px 2px 0;
}

#slider a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

/*
  ========================================
  slider2
  ========================================
*/

#slider2 {
  position: relative;
  overflow: hidden;
  margin: 0 auto 20px auto;
  border-radius: 4px;
  border-style: solid;
}

#slider2 ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}

#slider2 ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 800px;
  height: 500px;
  background-color: #ECECEC;
}
#slider2-1{
  background-image: url("../picture/ceremony/wireframes.jpg");
  background-size:contain;
  background-position:center;
  background-repeat: no-repeat;
}
#slider2-2{
  background-image: url("../picture/ceremony/Style Guide.png");
  background-size:contain;
  background-position:center;
  background-repeat: no-repeat;
}
#slider2-3{
  background-image: url("../picture/ceremony/Storyboard.jpg");
  background-size:contain;
  background-position:center;
  background-repeat: no-repeat;
}

#slider3-1{
  background-image: url("../picture/lift/brainstorming.jpeg");
  background-size:contain;
  background-position:center;
  background-repeat: no-repeat;
}
#slider3-2{
  background-image: url("../picture/lift/storyboard1.jpg");
  background-size:contain;
  background-position:center;
  background-repeat: no-repeat;
}
#slider3-3{
  background-image: url("../picture/lift/storyboard2.jpg");
  background-size:contain;
  background-position:center;
  background-repeat: no-repeat;
}

#slider-inneref-1{
  background-image: url("../picture/inneref/brainstorm.png");
  background-size:contain;
  background-position:center;
  background-repeat: no-repeat;
}

#slider-inneref-2{
  background-image: url("../picture/inneref/storyboards.jpg");
  background-size:contain;
  background-position:center;
  background-repeat: no-repeat;
}

#slider-inneref-3{
  background-image: url("../picture/inneref/Persona1.jpg");
  background-size:contain;
  background-position:center;
  background-repeat: no-repeat;
}

#slider-inneref-4{
  background-image: url("../picture/inneref/Persona2.jpg");
  background-size:contain;
  background-position:center;
  background-repeat: no-repeat;
}


#slider2 a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

#slider2 a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

#slider2 a.control_prev {
  border-radius: 0 2px 2px 0;
}

#slider2 a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}
.black{
  background-color: #666666;
}
.white{
  color: white;
}


.newlist li{
  font-size: 18px;
  list-style-type: decimal;
  line-height: 28px;
  padding-top: 10px;
}

.newlist-bold li{
  font-size: 18px;
  font-weight: bold;
  list-style-type: decimal;
  line-height: 28px;
  padding-top: 10px;
}

.quicklink a{
  margin: 0 auto;
  padding: 2px 30px;
  border-width: 3px;
  border-style: solid;
  
  font-weight: 800;
}
.quicklink a:hover{
  background-color: #8185C0;
}


/* Back to Top */
  a#back-to-top {
    width: 5%;
    position: fixed;
    bottom: 0; right: 0;
    margin: 0px 30px 60px 0px;
    /*color: whitesmoke;*/
    /*text-shadow: 0 0 10px black;*/
    /*border: none;*/
    transition: 0.5s;
    cursor: pointer;
  }
/*  a#back-to-top:before {
    content: '\f01b';
    font-family: 'FontAwesome';
    margin-right: 10px;*/
  }
  a#back-to-top:hover {
    border-bottom: 0px;
  }