{% extends "base.html" %}
{% block content %}
  <section>
      
          
          <div class="about group" >
            <aside class="col-1-3 left">
              <img id="avator" src="picture/avator.jpeg" alt="avator">
              <p><a href="file/resume.pdf" class="linkcolor transition">Resume</a></p>
              
            </aside><!--

            words

            --><aside class="col-2-3 right">
              <ul>
                <li>Actively seeking for UX internship starting April 2017</li>
                <li>M.S.(HCI) first year student in University of Michigan</li>
                <li>Former Architecture student</li>
                <li>Enjoy designing</li>
                <li>Former Architecture student</li>
                <li>Former Architecture student</li>
                <li>Former Architecture student</li>
              </ul>
            </aside>
          </div>
      
    <div class="occupy2"></div>
    
    

    <section id="work">
    <a name="WORK"></a>
      
      <div class="occupy"></div>
      <div class="row">
        <div class="primary-content col-1-3">
          <h5 class="uxcolor tag">UX Design</h5>
          <a href="work/lift" class="transition link-uxcolor"><h2>Lift</h2></a>
          <p>Physical device plus one corresponding app. Lift aims to help students be more aware of their emotional status and get more control of their mental health.</p> 
          <a href="work/lift" class="link link-uxcolor transition">Read More</a>
          
        </div><!--asd
        --><div class="primary-pic col-2-3">
              <a href="work/lift">
                <div class="image-hover uxcolor transition"></div>
              </a>
        </div>

      </div>
        
      <div class="row2">
        <div id="ceremony" class="item col-1-3">
             <a href="work/ceremony">
              <div class="pic-ceremony"><div class="image-hover2 uxcolor transition"></div></div>
              
             </a>
             <div class="content">
               <h5 class="tag uxcolor">UX Design</h5>
               <a href="work/ceremony" class="transition link-uxcolor"><h2>Ceremony</h2></a>
               <p>Physical device plus one corresponding app. Lift aims to help students be more aware of their emotional status and get more control of their mental health.</p> 
               <a href="work/ceremony" class="link link-uxcolor transition">Read More</a>
             </div>
        </div><!--

        timber

        --><div id="arch" class="item col-1-3">
             <a href="work/domino">
              <div class="pic-domino"><div class="image-hover2 archcolor transition"></div></div>
              
             </a>
             
             <div class="content">
               <h5 class="tag archcolor">User Research</h5>
               <a href="work/domino" class="transition link-archcolor"><h2>dLive</h2></a>
               <p>Physical device plus one corresponding app. Lift aims to help students be more aware of their emotional status and get more control of their mental health.</p> 
               <a href="work/domino" class="link link-archcolor transition">Read More</a>
             </div>
        </div><!--aaa--><div id="animation" class="item col-1-3">
             <a href="work/graphic">
              <div class="pic-graphic"><div class="image-hover2 videocolor transition"></div></div>
              
             </a>
             
             <div class="content">
               <h5 class="tag videocolor">Graphic Design</h5>
               <a href="work/graphic" class="transition link-videocolor"><h2>Brand Design</h2></a>
               <p>A collection of my graphic design, including website interface, Mblem digital badges, etc. </p> 
               <a href="work/graphic" class="link link-videocolor transition">Read More</a>
             </div>
        </div>
      </div>

<!--=============== row 3====================-->
      <div class="row2">
        <div id="timber" class="item col-1-3">
             <a href="work/timber">
              <div class="pic-timber"><div class="image-hover2 archcolor transition"></div></div>
              
             </a>
             <div class="content">
               <h5 class="tag archcolor">Architecture</h5>
               <a href="work/timber" class="transition link-archcolor"><h2>Future Timber Frame</h2></a>
               <p>Physical device plus one corresponding app. Lift aims to help students be more aware of their emotional status and get more control of their mental health.</p> 
               <a href="work/ceremony" class="link link-archcolor transition">Read More</a>
             </div>
        </div><!--

        timber

        --><div id="pavilion" class="item col-1-3">
             <a href="work/pavilion">
              <div class="pic-pavilion"><div class="image-hover2 archcolor transition"></div></div>
              
             </a>
             
             <div class="content">
               <h5 class="tag archcolor">Architecture</h5>
               <a href="work/pavilion" class="transition link-archcolor"><h2>Pavilion in Hill</h2></a>
               <p>Physical device plus one corresponding app. Lift aims to help students be more aware of their emotional status and get more control of their mental health.</p> 
               <a href="work/domino" class="link link-archcolor transition">Read More</a>
             </div>
        </div><!--aaa-->
      </div>






    </section>
  

      <a name="CONTACT"></a>
      <div id="contact" class="contact">
        <div class="occupy"></div>
        <div class="occupy"></div>
        <h3><a href="mailto:shuzhou@umich.edu?Subject=Hello" target="_top" class="transition">shuzhou@umich.edu</a></br>(734)272-1958</br>Ann Arbor, MI</h3>
      </div>

  </section>
  
{% endblock %}  