
{% extends "base2.html" %}
{% block content %}


<section>
  <!--=============== Title ====================-->
  <div class="titleimg">
    <h2 class="title">Domino’s Pizza’s dLive Intranet</h2>
  </div>

  <div>
    <p class="introduction">This is a consulting project. Our task was to try to determine why very few users of Domino’s intranet use the news subscriptions feature, and to give recommendations on the overall intranet design.</p>
  </div>


  <!--=============== Project Overview ====================-->
  <div class="overview">
    <ul>
      <li class="subtitle col-1-4">Project Brief
        <ul class="pinfo">
          <li>2016.9 ~ 2016.12</li>
          <li>Group Project</br>[team of 4 people]</li>
          
        </ul>
      </li><!--

        my role

        --><li class="subtitle col-1-4">My Role
        <ul class="pinfo">
          <li>Consultant</li>
          <li>Interviewer</li>
          <li>Researcher</li>
        </ul>
      </li><!--

        method

        --><li class="subtitle col-1-4">Method &amp; Skills
        <ul class="pinfo">
          <li>Contextual Inquiry</li>
          <li>Interview</li>
          <li>Iteration</li>
        </ul>
      </li><!--

        software

        --><li class="subtitle col-1-4">Tools &amp; Softwares
        <ul class="pinfo">
          <li>Illustrator</li>
          
        </ul>
      </li>
    </ul>
  </div>

  <!--=============== Problems ====================-->
  <div class="paragraph">
    <h2 class="subtitle2">Problems—Do people even know they can subscribe?</h2>
    <p>The subscription feature is supposed to keep employees of franchisees updated because Domino’s Pizza cannot contact with those people directly. However currently, use of this subscription feature is very low. Domino’s wants us to find out the reason and figure out how to increase its usage.</p>
    <ul>
      <li><strong>dLive:</strong><br>Domino's intranet, to allow employees and franchisees to find information and communicate with one another</li>
      <li><strong>News Subscription:</strong><br>One feature of dLive is news in different categories (such as “Standards” or “Marketing”) that users of dLive can subscribe to</li>
    </ul>
    
  </div>

  <!--=============== Research ====================-->
  <div class="paragraph">
    <h2 class="subtitle2">Research &amp; Process</h2>
    <p class="middle"><strong>Literatura Review - Contextural Inquiry - Affinity Wall</strong></p>
    <img class="width100" src="picture/domino/digram.png" alt="research process">
    <img class="width100" src="picture/domino/affinitywall.jpg" alt="affinity wall">
    
  </div>

  <!--=============== Findings ====================-->
  <div class="paragraph2">
    <h2 class="subtitle2">Key Findings</h2>
    <div class="col-1-2">
      <div class="grey">
        <h3>1. Lack of Awareness of dLive’s Subscriptions Feature</h3>
        <p>Many store employees had “no idea” that the tool was available.</p>
      </div>
      <div class="grey">
        <h3>2. Alternative Methods of Communicating and Obtaining Information</h3>
        <p>Newsletter through emails.</p>
      </div>
      <div class="grey">
        <h3>3. What dLive Does Well</h3>
        <ul class="class1">
          <li>Document Retrieval</li>
          <li>Discussion Boards</li>
        </ul>
      </div>
    </div><!--asd
        --><div class="col-1-2">
      <div class="grey">
       <h3>4. Criticism of dLive</h3>
       <ul class="class1"><li>Content
          <ul class="class2">
            <li>Too much information</li>
            <li>Searches on dLive return undesired results</li>
            <li>“Filter by date” function is hard to find</li>
          </ul>
        </li>
        <li>Website Design
          <ul class="class2">
            <li>Navigation problem</li>
            <li>Responsiveness problems</li>
          </ul>
        </li>
        <li>Promotion
          <ul class="class2">
            <li>People do not know much about dLive</li>
          </ul>
        </li>
       </ul>

      </div>
      
    </div>
    <P>From the previous finding, It strikes us that the subscription function may not be a vital function regarding operation. Email and daily newsletter right now do serve as good communication tools. However, the demand for a neat and limpid system, as well as a straightforward documentation system, can be used as guidance for the direction of dLive’s improvement.</P>
  </div>
  
 <!--=============== Middle Img====================-->
  <div class="middleimg">
    <p><q>"Domino’s is tech-driven, so dLive needs to be as good and user-friendly as other tools.”
    </q></p>
    <p class="person">————One Interviewee</p>
  </div>

   <!--=============== Recommendations====================-->
  <div id="recommendation" class="paragraph2">
    <h2 class="subtitle2">Recommendations</h2>
    <div>
      <h3>1. Content Management</h3>
      <ul class="class1">
        <li>Remove “fluff” information, and only put important information on dLive</li>
        <li>Remove out dated documents and have them in a separate archive</li>
      </ul>
      <h3>2. Changes to the Search Function</h3>
      <p>We learned in our interviews that undesired search results are a significant problem, so we have several recommendations for the search function.</p>
      <ul class="class1">
        <li>The algorithm behind the search function needs to be improved to increase accuracy of results</li>
        <li>Add “mysite” or “my favorite” to site search</li>
        <li>Expand filter function by adding “sort by type” (photo, video, doc, etc.)</li>

      </ul>
      <h3>3. Clearer Interface for dLive</h3>
      <p>The information structure on dLive is not very clear now. We categorized interviewees’ suggestions into three main points.</p>
      <ul class="class1">
        <li>dLive needs to be better structured</li>
        <li>Add urgent news group messages, calendar feature</li>
        <li>Provide a system of tags that is actually useful</li>
      </ul>
      <h3>4. Education and Training in What dLive Has to Offer</h3>
      <ul class="class1">
        <li>Domino's needs to advertise dLive</li>
        <li>Further education and training for dLive would start with franchisees, who would pass it down</li>
      </ul>
    </div>
    <div class="deliverable a2">
      <a  href="file/domino.pdf">Full Paper</a>
    </div>
  </div>
</section>


{% endblock %}  